# Import libraries and functions

In [9]:
import pandas as pd
import numpy as np

# Load ESA DISCOS satellite dataset

In [16]:
sat_df = pd.read_csv('../datasets/esa-discos-satellite-data.csv', memory_map=True)
sat_df.head()

,span,depth,xSectMax,objectClass,shape,mass,diameter,xSectMin,width,mission,...,predDecayDate,cataloguedFragments,satno,height,xSectAvg,firstEpoch,active,name,onOrbitCataloguedFragments,constellationDiscosID
0,NaN,NaN,NaN,Rocket Fragmentation Debris,NaN,NaN,NaN,NaN,NaN,NaN,...,2092-01-08,0,739,NaN,NaN,1963-11-27,NaN,Atlas LV-3C Centaur D fragmentation debris,0,NaN
1,0.80,0.8,1.108513,Payload,Poly,49.55,NaN,0.502655,0.8,Defense Communications,...,7449-06-08,0,1585,0.8,0.731327,1965-09-18,NaN,Cosmos-87,0,NaN
2,1.50,NaN,0.775276,Rocket Body,Cyl,60.00,0.5,0.196350,NaN,NaN,...,9999-12-31,0,1729,1.5,0.687223,1965-11-06,NaN,FW-4D (Delta E),0,NaN
3,NaN,NaN,NaN,Rocket Fragmentation Debris,NaN,NaN,NaN,NaN,NaN,NaN,...,9649-03-09,0,7148,NaN,NaN,1973-12-28,NaN,Delta 300 fragmentation debris,0,NaN
4,1.02,0.4,0.533667,Payload,Hex Poly,NaN,NaN,0.125664,0.4,Defense Sigint,...,2344-12-06,0,8835,0.9,0.338909,1976-04-30,NaN,SSU-1,0,NaN

In [26]:
sat_df['constellationDiscosID'].unique()

array([ nan,   6.,  17., 251., 254., 250., 253., 255., 252., 256.,   3.,
         4., 258., 257.,   7.,  12.,   5., 266., 259.,  11.,  21.,  22.,
        20.,  23.,  18.,  19., 265.,  16.])

## Check for satellites missing in ESA DISCOS dataset

In [17]:
st_df = pd.read_csv('../datasets/space-track-dataset.csv', usecols=['NORAD_CAT_ID'], memory_map=True)
st_df.head()

   NORAD_CAT_ID
0         45102
1         56899
2         58063
3         58515
4         17725

In [21]:
A = sat_df['satno'].unique()
B = st_df['NORAD_CAT_ID'].unique()

not_common_in_A = np.setdiff1d(A, B)
not_common_in_B = np.setdiff1d(B, A)

not_common = np.concatenate((not_common_in_A, not_common_in_B))
print(f"Elements from ESA DISCOS dataset missing in Space-Track dataset:{not_common_in_A}")
print(f"Elements from Space-Track dataset missing in ESA DISCOS dataset:{not_common_in_B}")
print(f"Elements not common in both arrays:{not_common}")

Elements from ESA DISCOS dataset missing in Space-Track dataset:[]
Elements from Space-Track dataset missing in ESA DISCOS dataset:[58817]
Elements not common in both arrays:[58817]

# Load ESA DISCOS constellation dataset

In [35]:
constell_df = pd.read_csv('../datasets/esa-discos-constellation-data.csv', memory_map=True).sort_values(by=['discosID'])
print(f'Number of lines: {constell_df.shape[0]}')
constell_df.head()

Number of lines: 27

,area,operEcc,operEnd,objectNumber,operLifetime,designName,cola,operInc,operSma,scPerLaunch,annualReplenishLaunches,deployStart,mass,operStart,numberPlanes,annualDeploymentLaunches,status,propulsionSystem,discosID
0,5.5869,0.0001,2014-10-20,48,7.5,Globalstar-G1,True,52.00,7800000.0,4,0.0,1998-02-14,715.000,1999-10-01,8,4.33,decommissioned,chemical,3
1,21.2455,0.0001,2300-01-01,24,15.0,Globalstar-G2,True,52.00,7800000.0,5,NaN,2010-10-19,715.000,2013-02-06,8,0.38,fully operational,chemical,4
2,1.7804,0.0001,2300-01-01,12,5.0,Gonets,False,82.58,7790000.0,3,NaN,1992-07-13,240.278,2015-03-01,6,0.42,fully operational,none,5
3,13.9061,0.0001,2300-01-01,66,15.0,Iridium-NEXT,True,86.40,7158000.0,9,NaN,2017-01-01,860.000,2017-01-01,6,1.29,fully operational,chemical,6
4,2.1917,0.0001,2300-01-01,648,10.0,OneWeb,True,87.90,7578000.0,33,NaN,2019-02-27,148.000,2023-06-01,12,3.17,partially operational,electrical,7